<h1>About Me</h1>

<p>Hi! I am Ankan Das. I am currently in my prefinal year pursuing Printing Engineering from Jadavpur University.</p>

<p>Development and Competitive Programming interests me the most and I really love to lose myself in long long sessions learning a lot of things everyday.</p>
